#root {
  width: 100vw;
  max-width: 480px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 17px;
  width: -webkit-fill-available !important;
}

.header {
  align-items: center;

  padding-top: 12px;
  height: 725px;
  background:
    no-repeat center/100% url("./assets/img/photo_2026-01-06\ 19.49.44.jpeg"),
    linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  margin-bottom: 37px;
}

.footer {
  height: 630px;
  margin-top: -90px;
  background:
    no-repeat center/100%
      url("./assets/img/c613c96796ed3750898c128e7c0d5985a96419f6.png"),
    linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.card {
  padding: 35px 8px;
  border-radius: 16px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cofo500 {
  font-family: "CoFoRaffine" !important;
  font-weight: 500 !important;
  z-index: 1;
  position: relative;
  line-height: 100% !important;
}
.bad400 {
  font-family: "BadScript" !important;
  font-weight: 400 !important;
  z-index: 1;
  font-style: italic !important;
  position: relative;
  line-height: 29px !important;
}

.restTime {
  display: flex;
  justify-content: space-between !important;
  width: -webkit-fill-available !important;
  padding: 0 20px;
}
.restCard {
  transition: "0.5s cubic-bezier(0.7, 0.01, 0.15, 0.99)";
}

@font-face {
  font-family: "CoFoRaffine";
  src:
    url("./assets/fonts/CoFoRaffine-VF-Trial.ttf") format("woff2"),
    url("./assets/fonts/CoFoRaffine-VF-Trial.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BadScript";
  src:
    url("./assets/fonts/BadScript-Regular.ttf") format("woff2"),
    url("./assets/fonts/BadScript-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
